.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  max-width: inherit !important;

  .task-start-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .task-text-container {
      .completed-text {
        text-decoration: line-through;
      }
    }
  }

  svg.trashcan {
    font-size: 30px;
    flex-shrink: 0;
  }
}
