.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  max-width: inherit !important;

  .task-start-content {
    display: flex;
    justify-content: start;

    .hakra-checkbox__control {
      border-color: #c53030;
    }
    .chakra-stack {
      &.chakra-checkbox {
        margin-right: 20px;
        font-weight: bold;

        &.checkbox-priority-3 {
          border-color: #c53030;
        }

        &.checkbox-priority-2 {
          border-color: #f6ad55;
        }

        &.checkbox-priority-1 {
          border-color: #68d391;
        }
      }
    }

    .completed-text {
      text-decoration: line-through;
    }
  }

  svg.trashcan {
    font-size: 30px;
  }
}
